.about {
  background: #071a2f;
  padding: 100px 8%;
  color: white;
}

.about-container {
  display: flex;
  gap: 60px;
  align-items: flex-start;
}

/* LEFT IMAGE */
.about-image {
  flex: 1;
  text-align: center;
}

.about-image img {
  width: 100%;
  max-width: 380px;
  border-radius: 12px;
}

.about-name {
  margin-top: 15px;
  font-weight: 600;
  color: #94a3b8;
}

/* RIGHT CONTENT */
.about-content {
  flex: 2;
}

.about-content p {
  margin-bottom: 20px;
  line-height: 1.8;
  color: #cbd5e1;
}

/* CONTACT */
.about-contact {
  margin-top: 30px;
}

.about-contact div {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
  color: #5eead4;
}

.about-contact svg {
  font-size: 18px;
}

/* Responsive */
@media (max-width: 900px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-content {
    margin-top: 40px;
  }

  .about-contact div {
    justify-content: center;
  }
}