.projects {
  padding: 100px 8%;
  background: #0b1220;
  color: white;
}

.projects-title {
  font-size: 40px;
  margin-bottom: 70px;
  text-align: center;
}

/* EACH PROJECT BLOCK */
.project-section {
  margin-bottom: 80px;
  border-bottom: 1px solid #1e293b;
  padding-bottom: 50px;
}

.project-name {
  font-size: 26px;
  margin-bottom: 15px;
}

/* META INFO */
.project-meta {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 14px;
  color: #94a3b8;
  margin-bottom: 20px;
}

.project-description {
  margin-bottom: 25px;
  line-height: 1.7;
  color: #cbd5e1;
  text-align: justify;
  text-justify: inter-word;
}

/* HEADINGS */
.project-section h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
}

/* FEATURE LIST */
.project-section ul {
  padding-left: 20px;
  margin-bottom: 25px;
}

.project-section li {
  margin-bottom: 8px;
  line-height: 1.6;
  color: #cbd5e1;
}

/* TECH BADGES */
.tech-badges {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tech-badges span {
  background: #1e293b;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 13px;
  border: 1px solid #334155;
  transition: 0.3s;
}

.tech-badges span:hover {
  border-color: #5eead4;
  color: #5eead4;
}