.softskills {
  background: #0b1220;
  padding: 50px 8%;
  color: white;
}

.softskills-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 70px;
}

/* GRID */
.softskills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

/* CARD */
.softskill-card {
  background: #1e293b;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  transition: 0.3s ease;
  border: 1px solid #334155;
}

.softskill-card:hover {
  transform: translateY(-6px);
  border-color: #5eead4;
}

.softskill-card .icon {
  font-size: 32px;
  color: #5eead4;
  margin-bottom: 15px;
}

.softskill-card h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.softskill-card p {
  font-size: 14px;
  color: #cbd5e1;
  line-height: 1.6;
}